<div class="categories-overview">
  <%# <h4 class="text-center mb-4">Past Month Overview</h4> %>
  <h4 class="category-squares-label">PAST MONTH OVERVIEW</h4>
  <div class= "category-squares-box">
    <div class="category-squares-description category-description-left">
      <div class="top">
        <p>Mood</p>
        <h2><%= @team_mood %>%</h2>
      </div>
      <div class="bottom">
        <h2><%= @team_motivation %>%</h2>
        <p>Motivation</p>
      </div>
    </div>
    <div class="category-squares" >
      <div class="d-flex align-items-end">
        <div class = "category-square mood-square", style = "height: <%= 1.5* @team_mood %>px; width: <%= 1.5* @team_mood %>px; border-color: <%= UserAnswer.color("mood") %>; ">
        </div>
        <div class = "category-square support-square", style = "height: <%= 1.5* @team_support %>px; width: <%= 1.5* @team_support %>px; border-color: <%= UserAnswer.color("support") %>; ">
        </div>
      </div>
      <div class="d-flex align-items-start">
        <div class = "category-square motivation-square", style = "height: <%= 1.5* @team_motivation %>px; width: <%= 1.5* @team_motivation %>px;text-align: right; border-color: <%= UserAnswer.color("motivation") %>; ">
        </div>
        <div class = "category-square goals-square", style = "height: <%= 1.5* @team_goals %>px; width: <%= 1.5* @team_goals %>px; border-color: <%= UserAnswer.color("personal_goals") %>;">
        </div>
      </div>
    </div>
    <div class="category-squares-description category-description-right">
      <div class="top">
        <p>Support</p>
        <h2><%= @team_support %>% </h2>
      </div>
      <div class="bottom">
        <h2><%= @team_goals %>% </h2>
        <p>Personal goals</p>
      </div>
    </div>
  </div>
</div>
