<div class="container">
  <div class="dashboard-display">

  <div class = "dashboard-top">
    <div class= "category-squares-box">
      <div class="d-flex justify-content-between">
        <h4>Mood</h4>
        <h4>Support</h4>
      </div>

      <div class="category-squares" >
      <div class="d-flex align-items-end">
        <div class = "category-square mood-square", style = "height: <%= 1.5* @team_mood %>px; width: <%= 1.5* @team_mood %>px;">
        <h4><%= @team_mood %>%</h4>
        </div>
        <div class = "category-square support-square", style = "height: <%= 1.5* @team_support %>px; width: <%= 1.5* @team_support %>px;">
         <h4><%= @team_support %>% </h4>
        </div>
      </div>
      <div class="d-flex align-items-start">
        <div class = "category-square motivation-square", style = "height: <%= 1.5* @team_motivation %>px; width: <%= 1.5* @team_motivation %>px;text-align: right ">
        <h4><%= @team_motivation %>%</h4>
        </div>
        <div class = "category-square goals-square", style = "height: <%= 1.5* @team_goals %>px; width: <%= 1.5* @team_goals %>px;">
        <h4><%= @team_goals %>% </h4>
        </div>
      </div>
    </div>
      <div class = "d-flex justify-content-between">
      <h4>Motivation</h4>
      <h4>Personal Goals</h4>
    </div>
  </div>


  <div class="dashboard-survey">
      <div>
        <h2 class = "border-bottom"><%= link_to "Latest Survey", survey_path(@survey) %></h2>
           <p> <%= @survey.name %> </p>
           <p> <%= @survey.content %> </p>
           <p> Survey Responses: <%= @survey.response_number %> of <%= User.all.count %> </p>
         </div>
         <div
            class="ldBar label-center bar-<%= @survey.id %>"
            data-stroke="data:ldbar/res,gradient(0,1,#9df,#fd9)",
            data-value="<%= @survey.response_rate %>"
            data-preset="circle"
            style="width: 80%; height: 80%;"
            data-id="<%= @survey.id %>"
          ></div>
        </div>
        <div class="dashboard-feedback">
          <div>
            <h2 class = "border-bottom"><%= link_to "Action Steps", user_answers_path %></h2>
              <% @action_steps.each do |feedback| %>
              <div class="action-step">
                <p> <%= feedback.action_step %> </p>
              </div>
                <% end %>
          </div>
        </div>
    </div>
    <div class="dashboard-timeline">
      <h2> Overall Engagement</h2>
       <%= area_chart UserAnswer.group_by_week(:response_date).sum(:answer_score), height: "200px"; %>
    </div>
  </div>
</div>









