<div class="container">
  <h1>Dashboard</h1>

  <div class="dashboard-survey">

    <h2><%= link_to "Latest Survey", survey_path(@survey) %></h2>
       <p> <%= @survey.name %> </p>
       <p> <%= @survey.content %> </p>
       <p> Survey response rate: <%= @survey.response_rate %>%  </p>
       <p> Survey Responses: <%= @survey.response_number %> of <%= User.all.count %> </p>

       <div style = "width: 300px">
       <%= bar_chart(responses: (@survey.response_rate*0.01).to_f) %>
       </div>
       <div class="ldBar" data-value="50"></div>
  </div>


<%= line_chart UserAnswer.group(:content).group_by_week(:response_date).count %>






