<div class="container">
  <h1 class="feedback-header">Anonymous Feedbacks</h1>
  <% @user_answers.each do |user_answer| %>
    <% if user_answer.category == 'feedback' && user_answer.status == 'unresolved' %>
      <div class="row feedback-row">
        <div class="user_answer_description">
          <%= user_answer.content %>
          <p><strong>Received at:</strong> <%= user_answer.created_at %></p>
          <p><strong>Status:</strong> <%= user_answer.status.capitalize %></p>
          <%= simple_form_for user_answer do |f| %>
            <%= f.hidden_field :status, value: "resolved" %>
            <%= f.submit "Mark as resolved", class: "btn btn-success mt-4" %>
          <% end %>
        </div>
        <div class="action_steps">
          <%= simple_form_for user_answer do |f| %>
            <%= f.input :action_step, label: "Action Notes", placeholder: user_answer.action_step %>
            <%= f.submit "Save your Action Notes", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
