<div class="container feedback-container">
  <h1 class="feedback-header">Anonymous Feedback</h1>
  <% @user_answers.each do |user_answer| %>
    <% if user_answer.category == 'feedback' && user_answer.status == 'unresolved' %>
      <div class="feedback-row">
        <div class="user_answer_description">
          <%# <p><i class="fas fa-exclamation-triangle"></i>  %>
          <p><strong>Received: <%= user_answer.created_at.strftime('%A, %b %d') %></strong> <span class="feedback-status">UNRESOLVED</span></p>
          <br>
          <%= user_answer.content %>
          <br>
          <%= simple_form_for user_answer do |f| %>
            <%= f.hidden_field :status, value: "resolved" %>
            <%= f.submit "Mark as resolved", class: "btn btn-success mt-4" %>
          <% end %>
        </div>

        <div class="box26 action_steps">
          <span class="box-title">NOTES</span>
          <p style="margin-top: 10px; margin-left: 10px;"><%= user_answer.action_step %></p>
          <%#= render 'edit_modal', user_answer: user_answer %>

          <button type="button" class="btn btn-light edit-button" data-toggle="modal" data-target="#exampleModal<%= user_answer.id %>">
            Edit
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal<%= user_answer.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Action Notes</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for user_answer do |f| %>
                    <%= f.input :action_step, label: "Action Notes", placeholder: user_answer.action_step %>
                    <%= f.hidden_field :id, :value => user_answer.id %>
                    <%= f.submit "Save changes", class: "btn btn-light" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>
