<div class="user-cards">
  <% @users.each do |user| %>
    <div class="user-card-info">
      <%= link_to user_path(user) do %>
      <div class="user-card-top">
          <img src="<%= user.photo.attached? ? cl_image_path(user.photo.key, width: 100, height: 100) : image_path("https://que-akitsu.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png") %>"><br />
        <% end %>
      </div>
      <div class="user-card-bottom">
        <h1><%= user.name %><br /></h1>
        <h2><%= user.role %></h2>
        <%= link_to "Update", edit_user_path(user) %>
      </div>
    </div>
  <% end %>
</div>

