<%= link_to user_path(user) do %>
  <div class="user-card-info">
    <div class="user-card-top">
      <div class="user-card-background"></div>
      <img src="<%= user.photo.attached? ? cl_image_path(user.photo.key) : image_path("https://que-akitsu.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png") %>">
      <%# <div>
      </div> %>
    </div>
    <div class="user-card-bottom">
      <h3><%= user.name %></h3>
      <p><%= user.role %></p>
      <% user_score = user.overall_total %>
      <div class="user-card-score">
        <p>ENGAGEMENT STATUS: <%= user.overall_total %>% </p>
      </div>
    </div>
  </div>
<% end %>
