<div class="container">
  <div class="p-4">
    <%= simple_form_for(@user) do |f| %>
      <%= f.input :name, label: "Employee Name:" %>
      <%= f.input :company, label: "Company Name:" %>
      <%= f.input :title, label: "Title:" %>
      <%= f.input :role, label: "Role:" %>
      <%= f.input :slack_username, label: "Slack Username:" %>
      <%= f.input :goal, label: "Personal Goal:" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
