<%# <div class="container"> %>
  <div class="user-container">
    <div>
    <h1><%#= @users.count.zero? ? @users.count : @users.count - 1 %>
      <%= @users.include?(current_user) ? @users.count - 1 : @users.count %>
      <%=  "member".pluralize(@users.count).capitalize %> <%= current_user.company %></h1>

    <div class="user-search">
      <%= render 'shared/search' %>
    </div>
    <div class="user-order">
      <p>
        Sort by:
        <%= link_to "Name", query: params[:query]%> /
        <%= link_to query: params[:query], :sort => "overall_total_desc" do %>
          Engagement status <span><i class="fas fa-sort-amount-up"></i></span>
        <% end %> /
        <%= link_to query: params[:query], :sort => "overall_total_asc" do %>
          Engagement status <span><i class="fas fa-sort-amount-down-alt"></i></span>
        <% end %>
      </p>
    </div>

    <div class="user-count">
    </div>

    <div class="user-cards">
      <%# @users.sort { |a,b| b.overall_total <=> a.overall_total }.each do |user| %>
      <% @users.each do |user| %>
        <% unless current_user == user %>
          <%= render 'user_card', user: user %>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
<%# </div> %>
