<%# <div class="container"> %>
  <div class="user-container">
    <div>
    <h1><%#= @users.count.zero? ? @users.count : @users.count - 1 %>
      <%= @users.include?(current_user) ? @users.count - 1 : @users.count %>
     <%=  "member".pluralize(@users.count - 1 ).capitalize %> <%= current_user.company %></h1>

    <div class="user-search">
      <%= render 'shared/search' %>
    </div>

    <div class="user-count">
    </div>

    <div class="user-cards">
      <% @users.each do |user| %>
        <% unless current_user == user %>
          <%= render 'user_card', user: user %>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
<%# </div> %>
