<div class="container home-container intro">
  <h2>Monitor and analyze your team's</h2>
  <p>Kyoro is a management tool which let's you track the level of different indicators of your team's wellbeing in terms of work enviromnet. Easy to set up and customize to fit your needs.</p>
</div>

<div class="container home-features">
  <div class="home-feature top-feature">
    <%# <div class="home-feature-bg"></div> %>
    <%= image_tag "survey-show.png", class: "card-img-1" %>
    <div class="home-feature-text">
      <h3>Analytics</h3>
      <p class="card-text">Get a quick overview of how your team is engaging and see customized statistics from your automated surveys.</p>
    </div>
  </div>

  <div class="home-feature middle-feature">
    <%# <div class="home-feature-bg"></div> %>
    <div class="home-feature-text">
      <h3>I need help</h3>
      <p class="card-text">Know when your remote team members need attention. Kyoro can tell you when.</p>
      <%# <p>Kyoro can tell you when.</p> %>
    </div>
    <%= image_tag "working_remotely.svg", class: "card-img-2" %>
  </div>

  <div class="home-feature bottom-feature">
    <%= image_tag "kyorobot-banner.png", class: "card-img-3" %>
    <div class="home-feature-text">
    <%# <div class="home-feature-bg"></div> %>
      <h3>Slack integration</h3>
      <p class="card-text">Customize your Kyorobot to send surveys through your team's Slack workspace.</p>
    </div>
  </div>
</div>


<div class="home-reviews slick">
  <%# <h3>These companies trusted us:</h3> %>
  <div class=" container review-carousel">

    <div class="review-card">
      <%= image_tag "connecpet2.png", alt: "" %>
      <%# <h4>ConnecPet</h4> %>
      <p><span><i class="fas fa-quote-right"></i></span> I now know what's important to my team members, and happy to say that I KNOW they are getting what they need on my team.</p>
    </div>

    <div class="review-card">
      <%= image_tag "Baiku2.png" %>
      <%# <h4>BAIKU Inc.</h4> %>
      <p><span><i class="fas fa-quote-right"></i></span> Kyoro is so easy to use. It's really great for when I just need a quick glance to see how my team engagement is!</p>
    </div>

    <div class="review-card">
      <%= image_tag "bill_splitter_2.png", class: "logo-billsplitter" %>
      <%# <h4>Bill Splitter</h4> %>
      <p><span><i class="fas fa-quote-right"></i></span> With our whole team working remotely, Kyoro has helped us keep our team together.</p>
    </div>

    <div class="review-card">
      <%# image_tag "https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png",class: "logo-lewagon", alt: "" %>
      <%= image_tag "le_wagon_2.png", alt: "" %>
      <%# <h4>Le Wagon</h4> %>
      <p><span><i class="fas fa-quote-right"></i></span> A life-saver! Simply the best. Better than all the rest.</p>
    </div>

  </div>
</div>

<!--  -->


  <%# <div class="card-product">
    <%= image_tag "Bill_Splitter.png" %>
    <%# <div class="card-product-infos">
      <h2>Review from Bill Splitter</h2>
      <p><em>With our whole team working remotely, Kyoro has helped us keep our team together.</em></p>
    </div>
  </div>
</div> %>
