<%= simple_form_for @survey do |f| %>
  <%= f.input :name, label: "Survey Name" %>
  <%= f.input :content, label: "Comment" %>
  <div id="tasks">
    <%= f.simple_fields_for :questions do |question| %>
      <%= render 'question_fields', :f => question %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Another Question', f, :questions %>
    </div>
    <%= f.submit 'Send to your Slack Channel', class: "btn btn-primary" %>
  </div>
<% end %>