<%= link_to survey_path(survey) do %>

<div class="survey-card">
  <div class="survey-card-text">
    <h3> <%= survey.name %> </h3>
    <p class="survey-date"> Survey Sent: <%= survey.date_sent.strftime('%A, %b %d') %> </p>
    <%# survey %>
  </div>

  <div class="survey-card-progress">

    <div
      class="ldBar label-center bar-<%= survey.id %>"
      <%# data-stroke="data:ldbar/res,gradient(0,1,#9df,#fd9)", %>
      data-stroke="data:ldbar/res,gradient(0,1,<%= survey.response_color%>)",
      data-value="<%= survey.response_rate %>"
      data-preset="circle"
      <%# style="width: 80%; height: 80%;" %>
      data-id="<%= survey.id %>"
    ></div>
  </div>
</div>

<% end %>
