<div class="container">
  <div class="row justify-content-center">


  <h1> <%= @survey.name %> </h1>
  <h2> <%= @survey.content %>  </h2>
  <% responses =  @survey.response_number%>
  <p> Number of Responses: <%= responses %> of <%= "#{User.all.count}" %>  </p>
  <p> Responses: <%= @survey.response_rate%>% </p>


  <% @survey.questions.each do |question| %>

      <h3> <%= question.content %> </h3>
      <div class="chart-center">
        <%= column_chart question.user_answers.group(:content).count, colors:["#37A2E7"], width: "300px", height: "200px", precision: 3, zeros: true%>
     </div>
      <% end %>

  </div>
</div>
