<div class="container">

  <h1> <%= @survey.name %> </h1>
  <h2> <%= @survey.content %>  </h2>
  <% responses =  @survey.user_answers.distinct.count("user_id")%>
  <p> Number of Responses: <%= responses %> of <%= "#{User.all.count}" %>  </p>
  <p> Responses: <%= (responses / User.all.count).to_f%> </p>


  <% @survey.questions.each do |question| %>
      <h3> <%= question.content %> </h3>
      <%= bar_chart question.user_answers.group(:content).count%>
      <% question.answers.each do |answer| %>
      <p> <%= answer.content%> </p>


      <% end %>
    <% end %>



</div>
