<!DOCTYPE html>
<html>
  <head>
    <title>Kyoro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" type="image/jpg" href="<%= image_path("favicon.ico") %>"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="content-wrapper">
      <div class="sidebar">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="view-wrapper">
        <%= yield %>
      </div>
    </div>

    <%= render 'shared/footer' %>

  </body>
</html>
